* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gaegu', cursive;
  /* background-color: #dedede; */
  color: #333;
}

section {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 100vh;
  grid-gap: 5px;
  background-color: #e2dedec5;
}

aside {
  background-color: #d8e2d8;
  text-align: center;
  padding-top: 50px;
}

main {
  background-color: #f4fffc;
  text-align: center;
  padding-top: 30px; 
  border: solid 30px #cacac3;
  box-shadow: inset 11px 9px 18px 2px #999696;
}

.list-h1 {
  font-family: 'Gaegu', cursive;
}

.bun-list {
  margin-top: 20px;
}

.bun-list>li {
  font-family: 'Gaegu', cursive;
  list-style-type: none;
  cursor: pointer;
  padding: 10px;
}

.bun-list>li:hover {
  background: #61c4b6;
}

.current {
  background-color: #308f82;
  color: #fff;
}

.sub-body, figcaption, .counter {
  padding-top: 1em;
}

.body {
  margin-top: 20px;
}

.bunny-clicker h1 {
  font-family: 'Gaegu', cursive;
}


figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 10px;
  max-width: 350px;
  margin: auto;
}

img {
  max-width: 350px;
  max-height: 300px;
  /* object-fit: fill; */
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic medium sans-serif;
  padding: 3px;
  text-align: center;
}

.counter {
  width: 95.2%;
}

.admin-cont {
  max-width: 350px;
  margin: 2px auto 0;
  display: flex;
  justify-content: space-between;
}

.rab-info {
  border: thin #c0c0c0 solid;
  padding: 5px;
}

.admin-btn {
  padding: 5px;
  background-color: rgb(79, 79, 252);
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.admin-btn:active {
  background: #838fff;
}

.formElement {
  border: thin #c0c0c0 solid;
  width: 350px;
  padding: 5px;
  display: grid;
  grid-template-columns: 80px 200px;
  grid-template-rows: repeat(4, 30px);
  grid-row-gap: 5px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background-color:#330e0e;
}

.formElement>label{
  color: #ffffff;
}

.cta {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  margin: 0 auto;
}

.close {
  background-color: #d42a2a;
  width: 70px;
  padding: 5px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.okay {
  background-color: green;
  width: 50px;
  padding: 5px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.close:active {
  background: #df4e4e;
}

.okay:active {
  background: #39b339;
}

.hidden {
  display: none;
}